@use 'nav';

/* Sass Variables */
/* Colors */
$body-bg: #202020; // body background/footer background
$secondary-color: #0d6efd; // primary color for buttons and links
$primary-color: #fff; // primary color backgrounds
$border-color: #303030; // border color for dividers
$balloon-color: #333; // color for balloon text
$prime-color-font: #000000; // primary color for text on white background
$footer-font-color: rgba(255, 255, 255, 0.4); // color for text in footer

/* Typography */
$body-font: 'Roboto Condensed', sans-serif; // font for body text
$body-font-size: 11pt; // base font size for body text
$sub-font-size: 0.8em; // font size for subtext

/* Images */
$btm-marg: 2em; // bottom margin for images

/* Global Styles */
body {
  background: $body-bg url('/images/footer-bg.jpg') repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select {
  font-family: $body-font;
  font-weight: 300;
  font-size: $body-font-size;
  line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;

  a {
    color: inherit;
    text-decoration: none;
  }
}

strong,
b {
  font-weight: bold;
  color: $prime-color-font;
}

em,
i {
  font-style: italic;
}

a {
  color: $secondary-color;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: $sub-font-size;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: $sub-font-size;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

/* Header */
header {
  margin-bottom: $btm-marg;
  line-height: 1.7em;

  h2 {
    font-size: 2.5em;
  }

  .byline {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }
}

/* Sections and Articles */
section,
article {
  margin-bottom: 3em;

  > :last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}

/* Containers */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &.small {
    width: 900px;
  }

  &.big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
  }
}

/* Rows and columns */
.row {
  margin-left: -50px;

  section,
  article {
    margin-bottom: 0;
  }

  [class*='column-'] {
    padding: 50px 0 0 50px;
    float: left;
    box-sizing: border-box;
  }


  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
}

/* Grid System for Loop */
$columns: 1 2 3 4 5 6 7 8 9 10 11 12; 

/* Grid Loop */
@each $current-column in $columns {
  .column-#{$current-column} {
    width: (100% / 12) * $current-column;
  }
}

@media all and (min-width: 576px) {
  @each $current-column in $columns {
    .column-#{$current-column} {
      width: (100% / 12) * $current-column;
    }
  }
}

.image {
  display: inline-block;

  img {
    display: block;
    width: 100%;
  }

  &.featured {
    display: block;
    width: 100%;
    margin: 0 0 $btm-marg 0;
  }
  
  &.full {
    display: block;
    width: 100%;
    margin-bottom: $btm-marg;
  }

  &.left {
    float: left;
    margin: 0 $btm-marg $btm-marg 0;  
  }

  &.centered {
    display: block;
    margin: 0 0 $btm-marg 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

ul.default {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding: $btm-marg 0em 1.25em 0em;
    border-top: 1px solid #303030;
  
    &:first-child {
      padding-top: 0em;
      border-top: none;
    }
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);

    &:hover {
      text-decoration: underline;
    }
  }
}

ul.style1 {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 0.60em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .1);

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

ul.style2 {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 1.90em 0em 1.60em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .1);
  
    &:first-child {
      padding-top: 0;
      border-top: 0;
    }

    img {
      float: left;
      padding-right: 1em;
    }
  }
}

ul.style5 {
  overflow: hidden;
  margin: 0em 0em 1em 0em;
  padding: 0em;
  list-style: none;

  li {
    float: left;
    padding: 0.25em 0.25em;
    line-height: 0;
  }
}

.button {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.50em 1.5em;
  background: $secondary-color;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $primary-color;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $secondary-color;
    color: $primary-color !important;
  }
}

.header {
  position: relative;
  background: $primary-color;

  .container {
    position: relative;
    padding: 4em 0em;
  } 

  .logo {
    position: absolute;
    left: 0em;
    top: 3em;
  
    a {
      display: block;
      text-decoration: none;
      font-size: 2.8em;
      font-weight: 600;
    }
  }
}

.banner {
  position: relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: $primary-color;
}

.page {
  position: relative;
  background: $primary-color;
}

.main {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .2);
}

.sidebar header h2 {
  font-size: 1.6em;
}

.footer {
  position: relative;
  color: $footer-font-color;


  .footer h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: $primary-color;
  
    strong {
      color: rgba(255, 255, 255, .7);
    }
  }
}

.copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid #303030;
  letter-spacing: 1px;
  text-align: center;
  color: $footer-font-color;

  a {
    text-decoration: none;
    color: $footer-font-color !important;
  }
}

.marketing {
  position: relative;

  header h2 {
    font-size: 1.6em;
  }
}

.featured {
  position: relative;
  
  .divider {
    border-bottom: 1px solid $border-color;
  }

  .box {
    background: $primary-color;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: $balloon-color;

  strong {
    color: $balloon-color !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}

